<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425174209550-6424n5rhv6c8ll68mmk0c7dr6nuqh9po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425174209550-6424n5rhv6c8ll68mmk0c7dr6nuqh9po</string>
	<key>API_KEY</key>
	<string>AIzaSyC2g4PhkHUL9ASCQfVaRP9pBY86_D9JDUM</string>
	<key>GCM_SENDER_ID</key>
	<string>425174209550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hotelsApp</string>
	<key>PROJECT_ID</key>
	<string>hotellio-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hotellio-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425174209550:ios:1944f92ba42a9363e9185f</string>
</dict>
</plist>